body{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.navbar-brand, .nav-link{
    color: aliceblue;
}
.navbar-brand i{
    pointer-events:none !important;
}
.nav-item .nav-link:hover{
    color:orange;
    transition:1s ease-in-out;
}
.show{
    background-color: antiquewhite;
    background-image: url(img/7.jpg);
    background-size:cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:800px;
}
.show-txt{
    width:800px;
    height:200px;
    margin:200px;
}
.show-title{
    color:white;
    font-family: Arial, sans-serif;
    font-size:42px;
    text-align: center;
    font-weight: bold;
}
.show-letter{
    color:white;
    font-family: Arial, sans-serif;
    text-align: center;
}
.cardshow{
   
}
.cardshow_item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -100px;
    margin-bottom:10px;
}
.card1{
    width:16em;
    height:400px;
    box-shadow: 2px 3px 10px 2px #b5b5b5;
}
.card img{
    width:100%;
    height:220px;
   border-radius: 10px;
    
}
.card-body{
    padding:25px 10px 70px 10px;
}
.card-body h5{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:center;
}
.card-body p{
    text-align:center;
}
.card-body a{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}
.txtbox-border{
    margin-top: 80px;
    margin-bottom:10px;
}
.txt-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtbox1{
    width:200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.txtbox1 a{
    font-size: 30px;
}
.txtbox1 h5{
    
}
.txtbox1 p{
    text-align: center;
}
.gallery-border{
    width:80%;
    margin-top: 80px;
    margin-bottom:10px;
}
.gallery-title{
    margin-bottom:50px;
}
.gallery-title h3{
    margin-bottom:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size:40px;
}
.gallery-title p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    color:rgb(40, 126, 255);
}
.gallery{
    width:fit-content;
    display:flex;
    justify-content: center;
}
.gallery-item{
    width:300px;
    height:350px;
}
.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.slide_group{
    position:relative;
    margin:0 auto;
    max-width:1200px;
}
.slide_txt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height:30px;
    margin:50px 0 50px 0;
    font-weight: bolder;
    text-align: center;
}
.slide_group button{
    position:absolute;
    font-size:5em;
    background:transparent;
    border:none;
    color:aliceblue;
    opacity:1;
}
#prev{
    top:43%;
    left:5%;
}
#next{
    top:43%;
    right:5%;
}
.box{
    text-align: center;
    border-radius: 10px;
    text-align: center;
}
.box h4{
    position:absolute;
    font-size:50px;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top:50%;
    left: 45%;
    transform: translateX(-45px);
}
.slide2{
    display:none;
}
.slide3{
    display:none;
}
.box img{
    height:600px;
}
.upward{
    position:sticky;
    margin: 0 auto;
    max-width: 1500px;
}
.upward_btn{
    position:absolute;
    right:35px;
    background:transparent;
    border-radius:50%;
    border-color: rgb(22, 92, 255);
    margin-top:50px;
}
.upward_btn i{
    font-size:30px;
    margin:13px 5px 13px 5px;
    color:rgb(22, 92, 255);
}
.footer-border{
    margin-top: 180px;
    margin-bottom:10px;
    background-color: rgb(226, 226, 226);
    padding: 20px 0 5px 0px;
}
.footer-item{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.support{
    width:300px;
    align-items: start;
}
.social-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.social-list-item{

}
.social-list-link img{
    width:30px;
    height:30px;
}
@media (max-width:600px){
    .cardshow_item{
        margin-top: 80px;
        margin-bottom:10px;
    }
}
